<!DOCTYPE html>
<html>
<head>
<title>SOC Dashboard</title>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<style>
body { background:#020617; color:white; font-family:Arial; }
.tabs { display:flex; gap:20px; padding:10px; cursor:pointer; }
.card { background:#0f172a; padding:15px; border-radius:10px; margin:10px; }
.hidden { display:none; }
.grid { display:grid; grid-template-columns: repeat(2,1fr); gap:20px; }
</style>
</head>

<body>

<h1>🔐 SOC Platform</h1>

<div class="tabs">
<span onclick="showTab('dash')">Dashboard</span>
<span onclick="showTab('logs')">Logs</span>
<span onclick="showTab('control')">Control</span>
</div>

<div id="dash">
<div class="grid">
<div class="card"><h3>Total Attacks</h3><p id="fail"></p></div>
<div class="card"><h3>Success</h3><p id="success"></p></div>
</div>

<div class="card"><canvas id="line"></canvas></div>
<div class="card"><canvas id="pie"></canvas></div>
</div>

<div id="logs" class="hidden">
<div class="card"><table id="logTable"></table></div>
</div>

<div id="control" class="hidden">
<div class="card">
<h3>Blocked IPs</h3>
<ul id="ips"></ul>
</div>

<div class="card">
<h3>Blocked Users</h3>
<ul id="users"></ul>
</div>

<button onclick="window.location='/export_logs'">Download Logs</button>
</div>

<script>
function showTab(id){
document.querySelectorAll("#dash,#logs,#control").forEach(d=>d.classList.add("hidden"));
document.getElementById(id).classList.remove("hidden");
}

async function load(){
const res = await fetch('/logs',{headers:{'x-api-key':'soc-secret-key'}});
const data = await res.json();

document.getElementById("fail").innerText = data.fail;
document.getElementById("success").innerText = data.success;

document.getElementById("logTable").innerHTML =
data.logs.map(l=>`<tr>
<td>${l.ip}</td>
<td>${l.user}</td>
<td>${l.time}</td>
<td>${l.threat}</td>
<td>${l.action}</td>
</tr>`).join("");

document.getElementById("ips").innerHTML =
data.blocked_ips.map(ip=>`<li>${ip}</li>`).join("");

document.getElementById("users").innerHTML =
data.blocked_users.map(u=>`<li>${u}</li>`).join("");
}

setInterval(load,2000);
</script>

</body>
</html>